<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Joke added!</h1>
    <p>Your joke has been successfully added to the database.</p>
    <a href="/">Return to Index</a>
</body>

</html>
