<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Jokeaholics</title>
	<link rel="stylesheet" href="/style.css"
</head>

<body>
	<h1>Time for a joke!</h1>

	<p>To be presented with just a single joke, click <a href="/singleJoke">here!</a><br><br>
	To hear multiple jokes, click <a href="/multipleJokes">this</a></p><br>
	
	<p2>If you would like to submit your own joke, please fill out the form below!</p2> <br><br>
	<form action="/index" method="post">
		<label for="setup">Setup:</label>
		<input type="text" id="setup" name="setup"><br>

		<label for="punchline">Punchline:</label>
		<input type="text" id="punchline" name="punchline"<br><br>

		<input type="submit" value="Add Joke">
	</form>
</body>
</html>
