<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>oneJoke</title>
	<link rel="stylesheet" href="style.css"
</head>

<body>
	<h1>Here is your joke!</h1>
	<div>
		<p><%= joke.setup %></p>
		<p><%= joke.punchline %></p>
		<a href="/">Return to Index</a>
	</div>
</body>

</html>
